extends ../components/base/layout

block variables
  - const title = "Product. Poplar - app that helps you invest cash" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "product.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

  -
    const moneyProducts = [
      [
        {
          addClass: "sizes-1",
          path: "content/finance-products",
          name: "fidelity",
          format: "png",
          width: 154,
          height: 33,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-2",
          path: "content/finance-products",
          name: "vanguard",
          format: "png",
          width: 150,
          height: 32,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-3",
          path: "content/finance-products",
          name: "advisors",
          format: "png",
          width: 144,
          height: 45,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-4",
          path: "content/finance-products",
          name: "spdr",
          format: "png",
          width: 90,
          height: 25,
          alt: "logo finance product",
        }
      ],
      [
        {
          addClass: "sizes-5",
          path: "content/finance-products",
          name: "aave",
          format: "png",
          width: 110,
          height: 42,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-6",
          path: "content/finance-products",
          name: "compound",
          format: "png",
          width: 151,
          height: 40,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-7",
          path: "content/finance-products",
          name: "maple",
          format: "png",
          width: 136,
          height: 30,
          alt: "logo finance product",
        },
        {
          addClass: "sizes-8",
          path: "content/finance-products",
          name: "alchemy",
          format: "png",
          width: 150,
          height: 32,
          alt: "logo finance product",
        },
      ]
    ]

  -
    const financialTools = [
      {
        icon: "icon-qb",
        text: "Quickbooks",
      },
      {
        icon: "icon-facebookads",
        text: "Facebook ads",
      },
      {
        icon: "icon-xero",
        text: "Xero",
      },
      {
        icon: "icon-shopify",
        text: "Shopify",
      },
      {
        icon: "icon-googleads",
        text: "Google ads",
      },
      {
        icon: "icon-manymore",
        text: "And many more",
      },
    ]

  -
    const monitoringTools = [
      {
        icon: {path: "content/monitoring-tools", name: "aave", format: "png", width: 24, height: 24, alt: "logo monitoring tool"},
        name: "Aave",
        token: "USDC",
        crypto: "Ethereum",
        persent: "3.88%",
        total: "$10,000.00"
      },
      {
        icon: {path: "content/monitoring-tools", name: "t4350", format: "png", width: 24, height: 24, alt: "logo monitoring tool"},
        name: "T 4350 28",
        token: "USDC",
        crypto: "Avalanche",
        persent: "3.11%",
        total: "$12,000.00"
      },
      {
        icon: {path: "content/monitoring-tools", name: "polygon", format: "png", width: 24, height: 24, alt: "logo monitoring tool"},
        name: "Polygon",
        token: "USDC",
        crypto: "Ethereum",
        persent: "3.88%",
        total: "$10,000.00"
      },
      {
        icon: {path: "content/monitoring-tools", name: "avalanche", format: "png", width: 24, height: 24, alt: "logo monitoring tool"},
        name: "Avalanche",
        token: "USDC",
        crypto: "Avalanche",
        persent: "3.11%",
        total: "$12,000.00"
      },
    ]

block main
  main
    +poplar-yield()
    +find-your-idle-cash()
    +how-does-poplar-help-you-earn()
    +working-capital-automation-options()
    +live-reporting-tools()
    +your-investments()
    +other-financial-tools-integrations()
    +monitoring-tools()
    +stop-warring(true)

block modals
