mixin about-us()
  section.about-us.section.section--intro.section--dark
    .container
      .intro.center
        h1.intro__title
          | What we have to&nbsp;say <span>about&nbsp;us</span>
        p.intro__subtitle
          | Poplar trees grow up to 8 feet per year.<br>
          | Why wait 100 years for your ‘acorns’ to grow into oaks?
        +btn({
          href: "#",
          text: "Open a free account"
        }).intro__button
