mixin business-owners()
  section.section.section--blue.business-owners
    .container
      .section__title-h2.center
        | Create by <span> business owners</span> lior
        | weinstein and genevieve bos
      .business-owners__text.content
        p
          | Lior Weinstein and Genevieve Bos hadworked together
          | for over 10 years. In 2020, the two started an incubator.
          | Before long they had over $1 million in working capital that
          | was sitting in the bank and losing value due to high
          | inflation and almost zero interest.
        p
          | Lior’s background in crypto investing, development, and
          | mining since 2011 and his previous career as a professional
          | financial trader led him to suggest investing their working capital.
        p
          | It worked. Once invested, the incubator’s working capital
          | started earning dividends.
        p
          | Genevieve and Lior shared their solution for idle cash with other
          | CEOs, who wanted to try it for themselves. It was too complex
          | and time consuming for most of them, but they still wanted the
          | higher yields. Many of them said they’d love to have an
          | automated way to invest their idle cash.
        p
          | After talking with a large number of business owners, Lior and
          | Genevieve decided to build a technology company to automate
          | investing idle cash and working capital.
        p
          | Now, small to mid-size businesses can do what the big
          | companies have been doing for years: yielding on every
          | idle dollar.
