mixin hey-poplar()
  section.section.hey-poplar
    .container
      .section__title-h2.center “Hey, Poplar...
      .content.hey-poplar__wrapper
        .hey-poplar__invest-features
          .hey-poplar__person
            +picture("content/persons", "person", "jpg", 130, 130, "photo person")
            span
          .hey-poplar__features
            .hey-poplar__feature Invest $60k <span>on the 15th each month</span> and withdraw it on the 30th.
            .hey-poplar__feature Invest <span>50% of each new deposit</span> into X account.
            .hey-poplar__feature Invest this $100k and <span>I’ll pull it out when I need it.</span>
        .hey-poplar__invest-describe
          h3.section__title-h3
            | We Were <span>business owners</span> watching the value of our
            | money decrease... and worrying about it.
          p.section__subtitle
            | We asked around and realized all business owners
            | worry about this problem, especially with inflation
            | on the rise. We get that you need to focus on your
            | business, not on investing.
          p.section__subtitle
            | That’s why we found a way to automate investing
            | that is totally transparent and easy to use.
