mixin how-is-poplar-different()
  section.section.section--dark.how-is-poplar-different
    .container
      h2.section__title-h2.center How is Poplar different?
      p.section__subtitle.center
        | You don’t need to hire an investing team or learn how to do it yourself.<br>
        | Our <span>Yield as a Service®</span> platform helps you manage cash easily.
      ul.how-is-poplar-different__wrapper.content
        li.how-is-poplar-different__item.how-is-poplar-different__item--accent
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Set and Forget
            p.how-is-poplar-different__item-text You can set how often to invest, where to invest, and when to pull out your cash… and then forget about it.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Full Transparency
            p.how-is-poplar-different__item-text You can see where your money goes and how it’s growing 24/7.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Easy Access to Higher Returns:
            p.how-is-poplar-different__item-text Your savings accounts pay pennies in comparison to  market investing.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Your Money Your Yield:
            p.how-is-poplar-different__item-text We don’t swipe from your earnings. They’re yours.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Follow Your Earnings
            p.how-is-poplar-different__item-text on your phone in real time.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Unlimited Withdrawal
            p.how-is-poplar-different__item-text Your money is liquid at all times. If you need to take everything out at 3 in the morning, do it.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title Bank Grade Security
            p.how-is-poplar-different__item-text We partner with industry-leading financial institutions to ensure security.
        li.how-is-poplar-different__item
          .how-is-poplar-different__item-check
            .check-point.check-point--different
          .how-is-poplar-different__item-feature
            p.how-is-poplar-different__item-title You Control Your Money
            p.how-is-poplar-different__item-text We’re not a fund. We’re a software. We don’t do anything with your money unless you tell us to.
      +btn({
        href: "#",
        text: "Open a free account"
      }).center
