mixin inflation-proof-cash()
  section.inflation-proof-cash.section.section--light-dark.section--intro
    .container
      .intro
        h1.intro__title
          | Inflation-Proof The Cash In <span> Your&nbsp;Business </span>
        p.intro__subtitle
          | With the app that helps you invest cash automatically &amp; access it anytime.
        +btn({
          href: "#",
          text: "Open a free account"
        }).intro__button
      ul.inflation-proof-cash__features
        li.inflation-proof-cash__feature-item
          +check-point()
          p.inflation-proof-cash__feature-item-text Full transparency
        li.inflation-proof-cash__feature-item
          +check-point()
          p.inflation-proof-cash__feature-item-text Bank-grade security
        li.inflation-proof-cash__feature-item
          +check-point()
          p.inflation-proof-cash__feature-item-text Fully liquid, at-will access to money
      .inflation-proof-cash__screen
        +picture("content/screens", "screen-dashboard", "png", 1168, 736, "screen app")
