mixin investing-is-full-time-job()
  section.section.section--dark.investing-is-full-time-job
    .container
      .mobil-center
        p.section__subtitle.section__subtitle--upper The problem
        h2.section__title-h2
          | You need to <span>inflation-Proof</span> your cash... but investing is a full-time job.
        p.section__subtitle
          | As a small business owner, you don’t have time to manage
          | investment accounts or the money to hire an investing team.
        p.section__subtitle
          | To protect the cash in your business from inflation, you need a
          | simple, automated system to manage investing for you.
        +btn({
          href: "#",
          text: "Open a free account"
        })
      .investing-is-full-time-job__wrapper
        .investing-is-full-time-job__item
          .investing-is-full-time-job__item-head
            p.investing-is-full-time-job__item-title Yield
            .investing-is-full-time-job__item-help
              +icon("icon-inform", 17, 17)
          p.investing-is-full-time-job__item-value 5.23%
        .investing-is-full-time-job__item
          .investing-is-full-time-job__item-head
            p.investing-is-full-time-job__item-title Risk
            .investing-is-full-time-job__item-help
              +icon("icon-inform", 17, 17)
          p.investing-is-full-time-job__item-value 0.7%
        .investing-is-full-time-job__item
          .investing-is-full-time-job__item-head
            p.investing-is-full-time-job__item-title Liquidity duration
            .investing-is-full-time-job__item-help
              +icon("icon-inform", 17, 17)
          p.investing-is-full-time-job__item-value 6 Months
        .investing-is-full-time-job__item
          .investing-is-full-time-job__item-head
            p.investing-is-full-time-job__item-title Products
            .investing-is-full-time-job__item-help
              +icon("icon-inform", 17, 17)
          p.investing-is-full-time-job__item-value 10
        .investing-is-full-time-job__item.investing-is-full-time-job__item--diagram
          +picture("content/screens", "diagram", "png", 504, 241, "screen Diagram", true)
