mixin losing-billions-in-free-money()
  section.section.section--light.losing-billions-in-free-money
    .container
      .losing-billions-in-free-money__image-block
        .losing-billions-in-free-money__background
        .losing-billions-in-free-money__image
          +picture("content/screens", "idle-cash-to-work", "png", 383, 360, "screen 'Idle Cash to Work'")
      h2.section__title-h2
        | 200 million small businesses are <span>losing billions in free money </span>
        | by not putting their idle cash to work.
