mixin meet-poplar()
  section.meet-poplar.section
    .container
      .center
        .section__icons
          +icon("icon-meet", 50, 50)
          .section__icons-dots
            span
            span
            span
          +icon("icon-money", 60, 60)
        h2.section__title-h2 meet<span> poplar</span>
        p.section__subtitle
          | Most business owners have no idea what to do with the extra cash in their business.
          | Our automated software manages investing your cash automatically,
          | so you can invest and withdraw when you want.That way, you can stop bleeding
          | money as your cash loses value and start easily earning on every spare dollar.
        +btn({
          href: "#",
          text: "Open a free account"
        })

