mixin our-team()
  section.section.section--dark.our-team
    .container
      .center
        .section__icons.section__icons--vertical
          +icon("icon-team", 70, 42)
          .section__icons-dots
            span
            span
            span
        h2.section__title-h2 Our<span> team</span>
        p.section__subtitle Build by serial entrepreneurs and business owners
      .content.our-team__wrapper
        .our-team__item
          .our-team__item-person
            .our-team__item-image
              +picture("content/persons", "lior", "png", 280, 280, "photo person", true)
            .our-team__item-text
              p.our-team__item-name Lior Weinstein
              p.our-team__item-post Co-Founder, CEO, CTO
        .our-team__item
          .our-team__item-person
            .our-team__item-image
              +picture("content/persons", "genevieve", "png", 280, 280, "photo person", true)
            .our-team__item-text
              p.our-team__item-name Genevieve Bos
              p.our-team__item-post Co-Founder, Chief, Revenue Officer
        .our-team__item
          .our-team__item-person
            .our-team__item-image
              +picture("content/persons", "alon", "png", 280, 280, "photo person", true)
            .our-team__item-text
              p.our-team__item-name Alon Weinstein
              p.our-team__item-post Chief Architect
        .our-team__item
          .our-team__item-person
            .our-team__item-image
              +picture("content/persons", "kyle", "png", 280, 280, "photo person", true)
            .our-team__item-text
              p.our-team__item-name Kyle Ackley
              p.our-team__item-post Chief Experience Officer
