mixin poplar-plans()
  section.section.section--intro.section--light-dark.poplar-plans
    .container
      .intro.center
        h1.intro__title Poplar <span>Plans</span>
        p.intro__subtitle Choose from 3 tiers of service to get the most out of your idle cash.
      .poplar-plans__wrapper
        .poplar-plans__item
          .poplar-plans__item-intro
            .poplar-plans__item-intro-icon
              +icon("icon-money", 55, 55)
            h2.poplar-plans__item-plan-title Earn
            .poplar-plans__item-plan-list-item
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Annual fixed fee
                p.poplar-plans__item-plan-value.poplar-plans__item-plan-value--fee $1000
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Max deposit
                p.poplar-plans__item-plan-value &gt;$100k
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Yield
                p.poplar-plans__item-plan-value ~$7k
            +btn({
              href: "#",
              text: "Schedule a demo"
            })
          .poplar-plans__item-features-wrapper
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title Account Features
              p.poplar-plans__item-features-item Single Sign On
              p.poplar-plans__item-features-item Multi-User
              p.poplar-plans__item-features-item Yield Designer
              p.poplar-plans__item-features-item Working Capital Automation
              p.poplar-plans__item-features-item Idle Cash Recommendation Engine
              p.poplar-plans__item-features-item Bank Accounts
              p.poplar-plans__item-features-item Reporting
              p.poplar-plans__item-features-item Integrations
        .poplar-plans__item.poplar-plans__item--poplar
          .poplar-plans__item-intro
            .poplar-plans__item-intro-icon
              +icon("icon-earn", 60, 57)
            h2.poplar-plans__item-plan-title Grow
            .poplar-plans__item-plan-list-item
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Annual fixed fee
                p.poplar-plans__item-plan-value.poplar-plans__item-plan-value--fee $10,000
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Max deposit
                p.poplar-plans__item-plan-value $1 million
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Yield
                p.poplar-plans__item-plan-value ~$70k
            +btn({
              href: "#",
              text: "Schedule a demo"
            })
          .poplar-plans__item-features-wrapper
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title Account Features
              p.poplar-plans__item-features-item Single Sign On
              p.poplar-plans__item-features-item Multi-User
              p.poplar-plans__item-features-item Yield Designer
              p.poplar-plans__item-features-item Working Capital Automation
              p.poplar-plans__item-features-item Idle Cash Recommendation Engine
              p.poplar-plans__item-features-item Bank Accounts
              p.poplar-plans__item-features-item Reporting
              p.poplar-plans__item-features-item Integrations
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title API
              p.poplar-plans__item-features-item Reporting Webhooks
              p.poplar-plans__item-features-item Automation Webhooks
        .poplar-plans__item
          .poplar-plans__item-intro
            .poplar-plans__item-intro-icon
              +icon("icon-pro", 50, 63)
            h2.poplar-plans__item-plan-title Pro
            .poplar-plans__item-plan-list-item
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Annual fixed fee
                p.poplar-plans__item-plan-value.poplar-plans__item-plan-value--fee $25,000
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Max deposit
                p.poplar-plans__item-plan-value &gt;$100k
              .poplar-plans__item-plan-item-group
                p.poplar-plans__item-plan-key Yield
                p.poplar-plans__item-plan-value ~$7k
            +btn({
              href: "#",
              text: "Schedule a demo"
            })
          .poplar-plans__item-features-wrapper
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title Account Features
              p.poplar-plans__item-features-item Single Sign On
              p.poplar-plans__item-features-item Multi-User
              p.poplar-plans__item-features-item Yield Designer
              p.poplar-plans__item-features-item Working Capital Automation
              p.poplar-plans__item-features-item Idle Cash Recommendation Engine
              p.poplar-plans__item-features-item Bank Accounts
              p.poplar-plans__item-features-item Reporting
              p.poplar-plans__item-features-item Integrations
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title API
              p.poplar-plans__item-features-item Reporting Webhooks
              p.poplar-plans__item-features-item Automation Webhooks
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title TRADFI
              p.poplar-plans__item-features-item Government Bonds
              p.poplar-plans__item-features-item Municipal Bonds
              p.poplar-plans__item-features-item ETF’s
              p.poplar-plans__item-features-item Private Borrowers
            .poplar-plans__item-features-group
              h3.poplar-plans__item-features-group-title DEFI and Crypto
              p.poplar-plans__item-features-item Crypto Wallets
              p.poplar-plans__item-features-item Permissioned Crypto Contracts
              p.poplar-plans__item-features-item Live Monitoring
              p.poplar-plans__item-features-item Stablecoins
              p.poplar-plans__item-features-item On &amp; Off-ramp to Crypto
              p.poplar-plans__item-features-item Non-Stablecoin Cryptocurrencies
