mixin software-service()
  section.section.software-service
    .container
      .software-service__wrapper
        .software-service__item
          +icon("icon-not", 80, 80).software-service__item-icon
          p.software-service__item-text Poplar is <span>not</span> an&nbsp;<span>investment account.</span>
        .software-service__item
          +icon("icon-yes", 80, 80).software-service__item-icon
          p.software-service__item-text We’re a <span>software service</span> that helps you&nbsp;manage investing easily.
