mixin who-can-use-poplar()
  section.section.section--intro.section--dark.who-can-use-poplar
    .container
      .intro.center
        h1.intro__title
          | Who can use <span>Poplar?</span>
        p.intro__subtitle
          | Click your organization type to see how Poplar can help you.
        .who-can-use-poplar__wrapper
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Small Business Owners
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Nonprofits
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Enterprises
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Web 3.0 Businesses
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Municipalities/ Governments
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Fintech &amp; Financial Services
          .who-can-use-poplar__item
            .who-can-use-poplar__item-icon
              +icon("icon-yes", 40, 40)
            p.who-can-use-poplar__item-text Capitol Allocation Bids
        +btn({
          href: "#",
          text: "Open a free account"
        })
