mixin working-capital-automation-options()
  section.section.section--light.working-capital-automation-options
    .container
      h2.section__title-h3 <span>“Hey,</span> Poplar...
      .content.working-capital-automation-options__wrapper
        .working-capital-automation-options__invest-features
          .working-capital-automation-options__person
            +picture("content/persons", "person", "jpg", 130, 130, "photo person")
            span
          .working-capital-automation-options__features
            p.working-capital-automation-options__feature Invest $60k <span>on the 15th each month</span> and withdraw it on the 30th.
            p.working-capital-automation-options__feature Invest <span>50% of each new deposit</span> into X account.
            p.working-capital-automation-options__feature Invest this $100k and <span>I’ll pull it out when I need it.</span>
        .working-capital-automation-options__invest-describe
          h3.section__title-h2
            | How do I Invest? <span> Working Capital Automation Options</span>
          p.section__subtitle
            | Automate your investing with ‘set and forget’ rules
            | and conditions that you can customize for your business needs.
