mixin your-investments()
  section.section.section--dark.your-investments
    .container
      .mobil-center
        p.section__subtitle.section__subtitle--upper
          | Watch, organize, and track every dollar
        h2.section__title-h2
          | Manage <span> your investments </span>like you manage your  business
        p.section__subtitle
          | The money manager’s dream: <br>
          | manage deposits and withdrawals for specific business needs.
        p.section__subtitle
          | Where most investing software allows only one lump sum, Poplar allows
          | you to create different accounts, pools, and charts to reflect your business needs.
      .your-investments__wrapper
        .your-investments__item
          .your-investments__item-content
            .your-investments__item-icon
              +icon("icon-inventory", 70, 74)
            p.your-investments__item-text Inventory Pool
        .your-investments__item
          .your-investments__item-content
            .your-investments__item-icon
              +icon("icon-taxes", 70, 69)
            p.your-investments__item-text Taxes Pool
        .your-investments__item
          .your-investments__item-content
            .your-investments__item-icon
              +icon("icon-payroll", 68, 70)
            p.your-investments__item-text Payroll Pool
        .your-investments__item
          .your-investments__item-content
            .your-investments__item-icon
              +icon("icon-distributions", 70, 70)
            p.your-investments__item-text Distributions pool


