.business-owners {
  //background-image: url("../img/content/backgrounds/background-owners.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 100%;

  @include vp-767 {
    background-size: 100% 175px;
  }

  @include retina {
    //background-image: url("../img/content/backgrounds/background-owners@2x.png");
  }

  .section__title-h2 {
    max-width: 720px;

    @include vp-1023 {
      max-width: 580px;
    }
  }

  &__text {
    padding-bottom: 16.44%;

    column-count: 2;
    column-gap: 50px;

    @include vp-1023 {
      padding-bottom: 12%;
    }

    @include vp-767 {
      padding-bottom: 20%;

      column-count: 1;
    }

    @include vp-479 {
      padding-bottom: 36%;
    }
  }

  p {
    margin: 0;

    font-weight: 500;

    break-inside: avoid;

    @include vp-1023 {
      font-size: 14px;
      line-height: 20px;
    }
  }

  p + p {
    margin-top: 28px;

    @include vp-1023 {
      margin-top: 20px;
    }
  }
}
