.inflation-value {
  .center {
    max-width: 568px;

    @include vp-1023 {
      max-width: 330px;
    }
  }

  .section__icons {
    svg:first-child {
      width: 51px;
      height: 57px;

      @include vp-1023 {
        width: 18px;
        height: 20px;
      }
    }

    svg:last-child {
      width: 71px;
      height: 71px;

      @include vp-1023 {
        width: 25px;
        height: 25px;
      }
    }
  }

  .section__title-h2 {
    @include vp-479 {
      max-width: 236px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
