.inflation-proof-cash {
  background: linear-gradient(to bottom, $color-blue-whale-2 67%, $color-default-white 67%);

  @include vp-767 {
    background: linear-gradient(to bottom, $color-blue-whale-2 82%, $color-default-white 82%);
  }

  @include vp-374 {
    background: linear-gradient(to bottom, $color-blue-whale-2 88%, $color-default-white 88%);
  }

  .intro {
    width: 100%;
    max-width: 680px;
    margin-bottom: 84px;

    @include vp-767 {
      margin-bottom: 20px;
    }

    @include vp-479 {
      max-width: 280px;
    }
  }

  &__features {
    display: flex;
    flex-wrap: wrap;
    column-gap: 93px;

    width: 100%;
    max-width: 1010px;
    margin: 0;
    margin-bottom: 35px;
    padding-left: 0;

    list-style: none;

    font-weight: 500;
    color: $color-default-white;

    @include vp-767 {
      flex-direction: column;
      column-gap: initial;
      row-gap: 6px;

      margin-bottom: 24px;

      font-size: 12px;
    }
  }

  &__feature-item {
    display: flex;
    align-items: center;

    padding: 5px 0;

    @include vp-767 {
      padding: 4px 0;
    }

    .check-point {
      margin-right: 15px;

      @include vp-767 {
        margin-right: 10px;
      }
    }
  }

  &__feature-item-text {
    margin: 0;
  }

  &__screen {
    border-radius: 35px;

    aspect-ratio: 1180 / 750;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }
}
