.poplar-yield {
  &__wrapper {
    display: flex;
    align-items: center;

    @include vp-767 {
      flex-direction: column;
    }
  }

  .intro {
    align-items: flex-start;

    width: 55.85%;
    margin-right: 7.97%;

    .intro__title {
      @include vp-1023 {
        font-size: 45px;
        line-height: 56px;
      }

      @include vp-767 {
        font-size: 30px;
        line-height: 35px;
      }
    }

    @include vp-767{
      align-items: center;

      width: 100%;
      margin-right: 0;
      margin-bottom: 40px;

      text-align: center;
    }
  }

  &__form {
    width: 36.18%;
    padding: 35px;
    border-radius: 25px;

    background-color: $color-default-white;

    @include vp-1023 {
      min-width: 334px;
    }

    @include vp-767 {
      width: 100%;
      min-width: initial;
      padding: 30px 23px;
      border-radius: 20px;
    }
  }

  .custom-input + .custom-input {
    margin-top: 5px;
  }

  &__button {
    width: 100%;
    margin-top: 30px;
  }

  &__note {
    margin: 0;
    margin-top: 20px;

    font-size: 14px;
    font-weight: 500;
    line-height: 20px;

    text-align: center;

    @include vp-767 {
      font-size: 12px;
      line-height: 18px;
    }
  }
}
