.stop-warring {
  background-image: linear-gradient(to bottom, $color-default-white 65%, $color-blue-whale-2 65%);

  padding-bottom: 0;

  @include vp-767 {
    background-image: linear-gradient(to bottom, $color-default-white 80%, $color-blue-whale-2 80%);
  }

  &__wrapper-head-section {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 60px;

    @include vp-767 {
      flex-direction: column;
    }
  }

  &__wrapper-head {
    margin-right: 80px;

    @include vp-767 {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  .section__title-h2 {
    @include vp-479 {
      max-width: 250px;
    }
  }

  .btn {
    flex-shrink: 0;
  }

  &__screen {
    border-radius: 35px;

    aspect-ratio: 1180 / 750;

    img {
      width: 100%;
      height: 100%;

      object-fit: cover;
    }
  }

  .section__title-h2 + .section__subtitle {
    margin-top: 10px;

    @include vp-767 {
      margin-top: 15px;
    }
  }
}

.stop-warring--not-screen {
  background-image: none;

  @include vp-767 {
    background-image: none;
  }

  .stop-warring__wrapper-head-section {
    margin-bottom: 0;
    padding-bottom: 80px;
    border-bottom: 1px solid $color-mischka;

    @include vp-767 {
      padding-bottom: 50px;
    }
  }
}
