//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/sprite

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-success-send-message
include ./modals/modal-not-success-send-message

//- Blocks

include ./blocks/inflation-proof-cash
include ./blocks/stop-warring
include ./blocks/inflation-value
include ./blocks/software-service
include ./blocks/earn-more-with-poplar
include ./blocks/how-to-earn
include ./blocks/hey-poplar
include ./blocks/how-is-poplar-different
include ./blocks/get-free-idle-cash-report
include ./blocks/about-us
include ./blocks/meet-poplar
include ./blocks/business-owners
include ./blocks/our-team
include ./blocks/poplar-yield
include ./blocks/live-reporting-tools
include ./blocks/your-investments
include ./blocks/who-can-use-poplar
include ./blocks/where-is-your-idle-cash
include ./blocks/investing-is-full-time-job
include ./blocks/poplar-plans
include ./blocks/find-your-idle-cash
include ./blocks/losing-billions-in-free-money
include ./blocks/what-say-about-us
include ./blocks/clients-experiences
include ./blocks/how-does-poplar-help-you-earn
include ./blocks/other-financial-tools-integrations
include ./blocks/monitoring-tools
include ./blocks/working-capital-automation-options
include ./blocks/portfolio-builder-tool
include ./blocks/api-options

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/check-point
include ./mixins/card-review
include ./mixins/finance-products
include ./mixins/financial-tool
include ./mixins/monitoring-tools-item
